[submodule "vondehi"]
	path = vondehi
	url = https://gitlab.com/PoroCYon/vondehi.git
[submodule "Section-Header-Stripper"]
	path = Section-Header-Stripper
	url = https://github.com/blackle/Section-Header-Stripper
